apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  namespace: "{{ project_name }}"
  name: "marsha-nginx-{{ prefix }}"
  labels:
    env_type: "{{ env_type }}"
    customer: "{{ customer }}"
    app: "marsha"
    service: "nginx"
    version: "{{ marsha_nginx_image_tag }}"
    route_prefix: "{{ prefix }}"
spec:
  rules:
    - host: "{{ marsha_host | blue_green_host(prefix) }}"
      http:
        paths:
          - path: "/*"
            backend:
              serviceName: "marsha-nginx-{{ deployment_stamp }}"
              servicePort: {{ marsha_nginx_port }}
