apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: marsha-pvc-media
  namespace: "{{ project_name }}"
  labels:
    app: marsha
    version: "{{ marsha_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
{% if marsha_pvc_storage_class_name %}
  storageClassName: {{ marsha_pvc_storage_class_name }}
{% endif %}
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ marsha_media_volume_size }}
