apiVersion: batch/v1
kind: Job
metadata:
  name: nextcloud-install-job-{{ job_stamp }}
  namespace: "{{ project_name }}"
  labels:
    app: nextcloud
    service: nextcloud
    version: "{{ nextcloud_version }}"
    deployment_stamp: "{{ deployment_stamp }}"
    job_stamp: "{{ job_stamp }}"
    # Jobs with the "pre" job type will be executed prior to deployments
    job_type: "pre"
spec:
  template:
    metadata:
      name: nextcloud-install-job-{{ job_stamp }}
      labels:
        app: nextcloud
        service: nextcloud
        version: "{{ nextcloud_version }}"
        deployment_stamp: "{{ deployment_stamp }}"
        job_stamp: "{{ job_stamp }}"
    spec:
      restartPolicy: Never
      containers:
        - name: nextcloud
          image: "{{ nextcloud_image_name }}:{{ nextcloud_image_tag }}"
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: "{{ nextcloud_secret_name }}"
            - configMapRef:
                name: "nextcloud-app-dotenv-{{ deployment_stamp }}"
          env:
            - name: POSTGRES_DB
              value: "{{ nextcloud_database_name }}"
            - name: POSTGRES_HOST
              value: "nextcloud-{{ nextcloud_database_host }}-{{ deployment_stamp }}"
            - name: POSTGRES_PORT
              value: "{{ nextcloud_database_port }}"
            - name: NEXTCLOUD_ADMIN_USER
              value: "{{ nextcloud_admin_user }}"
            - name: NEXTCLOUD_TRUSTED_DOMAINS
              value: "{{ nextcloud_host | blue_green_hosts }}"
            - name: REDIS_HOST
              value: "{{ nextcloud_redis_host }}"
            - name: REDIS_HOST_PORT
              value: "{{ nextcloud_redis_port }}"
            - name: DEBUG
              value: "{{ nextcloud_debug }}"
            - name: VERSION
              value: "{{ nextcloud_version }}"
            - name: INSTALLED
              value: "false"
          command:
            - "/bin/bash"
            - "-c"
            - /install.sh
          volumeMounts:
            - name: nextcloud-v-install
              mountPath: /tmp/nextcloud  
      volumes:
        - name: nextcloud-v-install
          persistentVolumeClaim:
            claimName: nextcloud-pvc-install
