apiVersion: v1
kind: Secret
metadata:
  labels:
    app: nextcloud
    service: nextcloud
  name: "{{ nextcloud_secret_name }}"
  namespace: "{{ project_name }}"
data:
  POSTGRES_USER: "{{ NEXCTCLOUD_VAULT.DB_USER | b64encode }}"
  POSTGRES_PASSWORD: "{{ NEXCTCLOUD_VAULT.DB_PASSWORD | b64encode }}"
  NEXTCLOUD_ADMIN_PASSWORD: "{{ NEXCTCLOUD_VAULT.NEXTCLOUD_ADMIN_PASSWORD | b64encode }}"
  NEXTCLOUD_PASSWORD_SALT: "{{ NEXCTCLOUD_VAULT.NEXTCLOUD_PASSWORD_SALT | b64encode }}"
  NEXTCLOUD_SECRET: "{{ NEXCTCLOUD_VAULT.NEXTCLOUD_SECRET | b64encode }}"
  INSTANCE_ID: "{{ NEXCTCLOUD_VAULT.INSTANCE_ID | b64encode }}"
  OBJECTSTORE_SWIFT_PASSWORD: "{{ NEXCTCLOUD_VAULT.OBJECTSTORE_SWIFT_PASSWORD | default("swift_password") | b64encode }}
