apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pvc-data
  namespace: "{{ project_name }}"
  labels:
    app: redis
    version: "{{ redis_app_image_tag }}"
spec:
{% if redis_pvc_storage_class_name %}
  storageClassName: {{ redis_pvc_storage_class_name }}
{% endif %}
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ redis_data_volume_size }}
